@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;600;800&display=swap');

$text-main: 'Kumbh Sans', sans-serif;
$text-header: 'Kumbh Sans', sans-serif;

$grey-100: #f8f4f1;
$grey-150: #e4e7ec;
$grey-200: #faf8f6;
$grey-300: #4a556c;

$common-black: #041434;
$primary-color: #20ad96;
$secondary-color: #333461;
$success-color: #4b8b3b;
