.woocommerce {
  & .shop_table {
    & .product-quantity,
    & .product-subtotal {
      display: none;
    }
    & .actions {
      display: none;
    }
    & .remove {
      &:hover {
        color: red !important;
        background-color: inherit;
      }
    }
  }
  & .checkout-button {
    background-color: $primary-color !important;
  }
}
