.container,
.is-style-container {
  padding: 0 120px;

  @include onlyDesktop {
    max-width: 1450px;
    margin: 0 auto;
  }
  @include Tablet {
    padding: 0 20px;
  }
}

.wp-block-group {
  &.has-background {
    @include Mobile {
      padding: 20px;
    }
  }
}

div.wp-block-group.has-background {
  padding: 0;
}
