.wp-block-image {
  position: relative;
  & figcaption {
    background-color: $primary-color;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    @include Tablet {
      transform: translate(0, -50%);
    }
  }
  &.is-style-flush-right {
    width: 120%;
    height: 120%;
    position: absolute;
    @include Tablet {
      position: relative;
      margin-bottom: -20px;
      margin-top: -60px;
      left: -50px;
    }
    @include Mobile {
      width: 140%;
    }
  }
}
