.woocommerce .woocommerce-products-header {
  background-color: $grey-200;
}

.woocommerce .woocommerce-breadcrumb {
  margin-top: 30px;
  font-weight: 300;
  color: $grey-300;
  font-size: 16px;
  & a {
    color: $grey-300;
    text-decoration: none;
  }
}

.woocommerce-products-header {
  padding: 40px 0 20px 0;
  margin-bottom: 20px;
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
  }
  & .page-description {
    color: $grey-300;
  }
}

.woocommerce ul.products {
  & .product {
    box-sizing: border-box;
    border: 1px solid $grey-150;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    & .shop-item-text {
      padding: 0 20px;
      & .woocommerce-loop-product {
        &__title {
          font-size: 18px;
        }
        &__short-description {
          color: $grey-300;
          font-size: 15px;
        }
        &__button {
          background-color: $primary-color !important;
          margin-bottom: 20px;
        }
      }
    }

    @include Mobile {
      width: 100% !important;
    }
  }
}
