.woocommerce.single-product {
  & .woocommerce-notices-wrapper {
    & ul {
      margin-bottom: 0;
    }
  }
  & .half-bg {
    background: linear-gradient(90deg, transparent 50%, $grey-200 50%);
    @include Mobile {
      background: linear-gradient(0deg, transparent 53%, $grey-200 47%);
    }
  }
  & div.product {
    padding-top: 70px;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    & > * {
      float: none !important;
      width: 50% !important;
    }
    @include Mobile {
      flex-direction: column;
      & > * {
        width: 100% !important;
      }
    }
    & .button {
      background-color: $primary-color !important;
    }
    & p.price {
      margin-top: 35px;
      margin-bottom: 10px;
      color: $common-black;
    }
    & div.images {
      & .woocommerce-product-gallery__wrapper {
        padding: 0 0 80px 80px;
        @include Tablet {
          padding: 0 0 40px 40px;
        }
        @include Mobile {
          padding: 0;
        }
        & > div {
          box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
        }
      }
    }
  }

  & .woocommerce_single_product_intro {
    & > * {
      color: $grey-300;
      font-size: 18px;
    }
  }
  & .woocommerce_single_product_content {
    margin: 40px 0;
    @include Mobile {
      margin: 20px 0;
    }
    & .video-content {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
