.testimonials {
  margin-right: -150px;
  width: 100%;
  width: calc(100% + 150px);
  overflow-x: hidden;
  @include smallDesktop {
    margin-right: -50px;
    width: calc(100% + 50px);
  }
  @include Tablet {
    margin-right: -20px;
    width: calc(100% + 20px);
  }
  @include Mobile {
    margin-right: 0;
    width: 100%;
  }
}
