.woocommerce-notices-wrapper {
  box-sizing: border-box;
}

.woocommerce-info,
.woocommerce-message,
.woocommerce-error {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  &::before {
    display: none;
  }
  & a {
    margin-left: auto !important;
    margin-right: 20px !important;
    float: none !important;
  }
  & li {
    box-sizing: border-box;
    display: block;
  }
  @include Mobile {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    & a {
      display: block !important;
      margin-left: 0 !important;
      margin-bottom: 10px !important;
    }
  }
}

.woocommerce-info,
.woocommerce-message {
  border-top-color: $primary-color;
}

.woocommerce-message {
  flex-direction: row-reverse;
  @include Mobile {
    flex-direction: column-reverse;
    padding-bottom: 20px;
    padding-top: 0;
  }
}

.woocommerce-error {
  flex-direction: column;
  align-items: flex-start;
}
